body {
  font-family: Red Hat Display;
}
.header {
  background-color: #f9f6f5;
  padding-top: 40px;
}

.bacground-header {
  width: 1440px;
  margin: 0 auto;
  background: url(../img/section-1/background/bacground.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 107px;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.flex-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #222222;
  border-bottom: 2px solid black;
}

.section-one__menu {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.menu__link {
  font-size: 16px;
  font-weight: 400;
  color: #222222;
}

.icon__section-one {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.text__section-one {
  margin-top: 108px;
}

.title {
  font-size: 56px;
  font-weight: 500;
  color: #000000;
}

.sub-title {
  font-size: 20px;
  font-weight: 400;
  color: #555555;
  line-height: 32px;
}

.section-one__sub-title {
  margin-top: 30px;
}

.form {
  position: relative;
}
.section-one__form {
  margin-top: 30px;
}

.form-search {
  width: 326px;
  padding: 14px 16px;
  font-size: 14px;
  font-weight: 400;
}

.form-button {
  position: absolute;
  left: 286px;
  top: 6px;
}

.button {
  width: 148px;
  display: block;
  padding: 16px 32px;
  background-color: #402f2c;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.section-one__button {
  margin-top: 60px;
}

.main {
  padding-top: 132px;
}

.company {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.company-item {
  margin-top: 42px;
  margin-bottom: 42px;
}

.section-three {
  margin-top: 149px;
}

.section-three__flex-conteiner {
  align-items: end;
}

.section-three__sub-title {
  margin-top: 20px;
}

.transition {
  font-size: 24px;
  font-weight: 500;
  color: #222222;
  display: flex;
}

.transition::after {
  content: "";
  background-image: url(./img/section-3/Vector.png);
  background-repeat: no-repeat;
  width: 25px;
  height: 25x;
  position: relative;
  top: 4px;
  left: 8px;
}

.section-four__flex-conteiner {
  padding-top: 60px;
}

.card-product {
  border: 1px solid #dddddd;
  padding-bottom: 48px;
}
.card-product__text {
  margin-top: 20px;
  margin-left: 32px;
}

.card-product__title {
  font-size: 40px;
}

.card-product__sub-title {
  margin-top: 16px;
}

.card-product__flex-conteiner {
  padding-right: 32px;
  margin-top: 48px;
}

.card-product__flex-conteiner-bloc-button {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card-product__button_brown_white {
  width: 164px;
  background-color: white;
  color: #402f2c;
  border: 1px solid #dddddd;
}

.price {
  font-size: 30px;
  font-weight: 500;
}

.bacground-section-five {
  background-color: #fdf8f5;
  margin-top: 111px;
  padding-top: 58px;
  padding-bottom: 58px;
}

.section-five__flex-conteiner {
  justify-content: space-around;
}

.number {
  font-size: 56px;
  font-weight: 700;
  border-bottom: 4px solid black;
}

.description {
  font-size: 24px;
  font-weight: 400;
  color: #555555;
  margin-top: 30px;
}

.section-six {
  padding-top: 130px;
}

.section-six__flex-conteiner {
  align-items: normal;
}

.section-six__text {
  margin-top: 45px;
}

.section-six__sub-title {
  margin-top: 16px;
}

.section-six__sub-title_indentation {
  margin-top: 24px;
}

.section-six__button {
  margin-top: 50px;
}

.section-seven__flex-conteiner {
  align-items: normal;
  padding-top: 130px;
}

.section-seven__text {
  margin-top: 30px;
}

.section-seven__title {
  font-size: 30px;
}

.text__flex-conteiner {
  justify-content: start;
  gap: 12px;
  margin-top: 12px;
}

.section-seven__sub-title {
  margin-top: 43px;
}

.section-seven__text_different-indentation {
  margin-top: 79px;
}

.section-seven__title_different-indentation {
  font-size: 30px;
}

.section-seven__sub-title_different-indentation {
  margin-top: 10px;
}

.footer {
  background-color: #fafafa;
  padding-top: 103px;
}
.section-eight__flex-conteiner {
  gap: 295px;
  padding-bottom: 64px;
  border-bottom: 1px solid #dddddd;
}

.section-eight__title {
  font-size: 36px;
}

.form-search__section-eight {
  width: 386px;
  padding: 18px 18px;
  font-size: 16px;
}

.form-button__section-eight {
  padding: 10px 19px;
  background-color: #402f2c;
  color: white;
  left: 275px;
  top: 8px;
}

.section-nine__flex-conteiner {
  padding-top: 59px;
  align-items: end;
  justify-content: space-around;
}

.footer-title {
  font-size: 20px;
  font-weight: 500;
  color: #222222;
}

.section-nine__logo {
  font-size: 40px;
}

.section-nine__flex-conteiner_footer-title {
  gap: 213px;
  align-items: end;
}

.section-ten__flex-conteiner {
  padding-top: 38px;
  justify-content: space-around;
  align-items: start;
}

.section-ten__menu__item {
  margin-bottom: 20px;
}

.section-nine__flex-conteiner {
  align-items: center;
}

.section-nine__sub-title {
  margin-top: 38px;
}

.section-nine__menu {
  margin-top: 39px;
}

.menu__item__section-nine {
  margin-top: 20px;
}

.section-nine__contact-item {
  margin-top: 39px;
}

.text-item {
  font-size: 16px;
  font-weight: 400;
}

.section-nine__text-item {
  margin-bottom: 20px;
}

.icon__section-nine {
  display: flex;
  gap: 27px;
}
