body {
  background: burlywood;
}
header {
  display: flex;
  justify-content: center;
}
.Logo,
.menu {
  margin-right: 25px;
  display: inline-block;
  vertical-align: middle;
}
.menu li {
  margin-right: 25px;
  display: inline-block;
  vertical-align: middle;
}

.menu a {
  vertical-align: middle;
  font-family: Arial;
  font-size: 15px;
  color: white;
  text-decoration: none;
}
.Logo h1 {
  font-family: Arial;
  font-size: 30px;
  vertical-align: middle;
  color: white;
}

h2 {
  font-family: Arial;
  font-size: 20px;
  color: red;
  display: flex;
  justify-content: center;
}
p {
  font-family: Arial;
}
